$alignments: ("left","right","center");
$fontweights: (thin: 100, extralight: 200, light: 300, normal: 400, medium: 500, semibold: 600, bold: 700, extrabold: 800, heavy: 900);
$layers: (deep: -100, background: -10, neutral: 1, foreground: 10, top: 100)