@import 'thema';
@import 'functions';
@import 'statics';
@import 'mixins';


// Data
$colors: map-get($thema, "colors" );


// prototyping  css

@each $color in map-keys($colors) {
    [text*=#{$color}] {
        color: flop-color($color);
        &[text*=contrast] {
            background-color: flop-color($color, "contrast");        
        }
    }
}

@each $alignment in $alignments {
    [text*=#{$alignment}] {
        text-align: #{$alignment};
    }
}

@each $fontweight in map-keys($fontweights) {
    [text*=#{$fontweight}] {
        font-weight: map-get($fontweights, $fontweight);
    }    
}

/*
.text {
    &__paragraph {
        @include flip-color(red);
    }
}
*/