@import 'thema';
@import 'functions';
@import 'statics';
@import 'mixins';


// Data
$colors: map-get($thema, "colors" );
$sizes: map-get($thema, "sizes" );
$spaces: map-get($thema, "spaces" );
$apects: map-get($thema, "aspects" );


// prototyping  css

@each $color in map-keys($colors) {
    [text*=#{$color}] {
        color: flop-color($color);
        &[text*=contrast] {
            background-color: flop-color($color, "contrast");        
        }
    }
}

@each $alignment in $alignments {
    [text*=#{$alignment}] {
        text-align: #{$alignment};
    }
}

@each $fontweight in map-keys($fontweights) {
    [text*=#{$fontweight}] {
        font-weight: map-get($fontweights, $fontweight);
    }    
}

@each $layer in map-keys($layers) {
    [position*=#{$layer}] {
        z-index: map-get($layers, $layer);
    }    
}

@each $size in map-keys($sizes) {
    [image*=#{$size}] {
        width: map-get($sizes, $size) * 1%;
        height: auto;
    }    
}


[grid=container] {
    @include flip-grid;
    border: 1px solid red;    
}


/*
.text {
    &__paragraph {
        @include flip-color(red);
    }
}
*/